
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-family: 'Permanent Marker', cursive;
}
.addSpotCard {
opacity: .9;
background-color: lightslategray;
}
.addSpotMap {
  margin-left: 25%;
  margin-right: 25%;
}
.spotCard {
  background-color: slategray;
  opacity: .9;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: auto;
  
  
}
Button {
  font: medium;
  opacity: .9;
}
.addSpotForm {
  text-align: center;

}


